title = "CMS"
==
<?php
use Cms\Classes\Theme;
use Cms\Classes\Content;

function resolveCmsContent($root, $args) {
    if (! $theme = Theme::getActiveTheme()) {
        throw new \Exception(Lang::get('cms::lang.theme.active.not_found'));
    }

    return Content::loadCached($theme, $args['name']);
}
?>
==
# Content

extend type Query {
    cmsContent(name: String!): CmsContent!
}

type CmsContent {
    fileName: String!
    content: String
    markup: String
    parsedMarkup: String
}

# CMS-wide types

# Backend\Models\User
type BackendUser {
    id: ID!
}

# System\Models\File
type SystemFile {
    id: ID
    path: String
    title: String
    description: String
}