title = "Blog"
==
extend type Query {
    blogPost(id: ID!): BlogPost @find(model: "Rainlab\\Blog\\Models\\Post"),
    blogPosts: [BlogPost] @all(model: "Rainlab\\Blog\\Models\\Post")
}

type BlogPost {
    id: ID!
    title: String
    slug: String
    excerpt: String
    content: String
    content_html: String
    published: Boolean
    published_at: String
    categories: [BlogCategory] @belongsToMany
    user: BackendUser @belongsTo
    featured_images: SystemFile @hasMany
    created_at: String
    updated_at: String
}

type BlogCategory {
    id: ID!
    name: String
    slug: String
    code: String
    description: String
    posts: [BlogPost] @hasMany
}
